@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf); }

@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf); }

.row {
  width: 100%; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.page-section {
  height: 823px; }
  .page-section .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }

.img-bg {
  display: none; }

.top-nav {
  height: 77px;
  position: fixed;
  background: #b2975b;
  width: 100%;
  top: 0px;
  display: none;
  z-index: 99999; }
  .top-nav .brand {
    margin-left: 50px;
    float: left; }
  .top-nav .top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .top-nav .top-menu li {
      list-style: none;
      display: inline-block;
      line-height: 77px;
      margin-left: 50px; }
      .top-nav .top-menu li a {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
        .top-nav .top-menu li a:hover {
          text-decoration: underline; }
  .top-nav .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    .top-nav .icons li {
      list-style: none;
      display: inline-block;
      line-height: 77px; }
      .top-nav .icons li a {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 6px; }
      .top-nav .icons li .qq {
        background: url(../img/top_nav/qq1.png); }
        .top-nav .icons li .qq:hover {
          background: url(../img/top_nav/qq.png); }
      .top-nav .icons li .xinlang {
        background: url(../img/top_nav/xinlang1.png); }
        .top-nav .icons li .xinlang:hover {
          background: url(../img/top_nav/xinlang.png); }
      .top-nav .icons li .weixin {
        background: url(../img/top_nav/weixin1.png); }
        .top-nav .icons li .weixin:hover {
          background: url(../img/top_nav/weixin.png); }
  .top-nav .search {
    float: right;
    display: inline-block;
    height: 77px;
    margin-left: 24px;
    margin-right: 60px; }
    .top-nav .search .search-box {
      margin-right: 10px;
      width: 0px;
      border: 0px; }
    .top-nav .search .search-icon {
      display: inline-block;
      margin-top: 19px;
      width: 25px;
      height: 23px;
      line-height: 23px;
      background: url(../img/top_nav/search_icon.png); }

.landing-section .content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 180px; }
  .landing-section .content .logo {
    display: block;
    margin: 0 auto; }
  .landing-section .content .h1 {
    color: #fff;
    font-size: 26px;
    margin-top: 18px;
    font-family: didot-bold; }
  .landing-section .content .h2 {
    color: #fff;
    font-size: 10px;
    font-family: didot-bold; }
  .landing-section .content .social-icons {
    margin-top: 50px; }
    .landing-section .content .social-icons .qq, .landing-section .content .social-icons .weixin, .landing-section .content .social-icons .xinlang {
      width: 25px;
      height: 25px;
      line-height: 25px;
      display: inline-block;
      margin: 0 3px; }
    .landing-section .content .social-icons .qq {
      background: url(../img/top_nav/qq1.png); }
      .landing-section .content .social-icons .qq:hover {
        background: url(../img/top_nav/qq.png); }
    .landing-section .content .social-icons .xinlang {
      background: url(../img/top_nav/xinlang1.png); }
      .landing-section .content .social-icons .xinlang:hover {
        background: url(../img/top_nav/xinlang.png); }
    .landing-section .content .social-icons .weixin {
      background: url(../img/top_nav/weixin1.png); }
      .landing-section .content .social-icons .weixin:hover {
        background: url(../img/top_nav/weixin.png); }

.landing_profile .content .header {
  padding-top: 160px; }
  .landing_profile .content .header ul {
    border-top: 1px solid #b2975b; }
    .landing_profile .content .header ul li {
      display: table-cell;
      vertical-align: middle;
      height: 156px; }
    .landing_profile .content .header ul .col2 .wrapper {
      padding-left: 10px;
      width: 324px;
      border-right: 1px solid #b2975b; }
      .landing_profile .content .header ul .col2 .wrapper .h1 {
        font-size: 12px; }
      .landing_profile .content .header ul .col2 .wrapper .h2 {
        font-size: 10px; }
      .landing_profile .content .header ul .col2 .wrapper img {
        margin-top: 20px; }
    .landing_profile .content .header ul .col3 {
      padding-left: 40px; }
      .landing_profile .content .header ul .col3 .nav {
        display: inline-block;
        height: 156px;
        color: #666;
        float: left;
        margin-left: 55px; }
        .landing_profile .content .header ul .col3 .nav span {
          display: inline-block;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 12px;
          cursor: pointer; }
        .landing_profile .content .header ul .col3 .nav .txt {
          padding-top: 70px; }
      .landing_profile .content .header ul .col3 .nav.active {
        background: #b2975b;
        color: #fff; }
    .landing_profile .content .header ul .brand {
      border-right: 1px solid #b2975b;
      padding-right: 12px; }
.landing_profile .content .container {
  height: 290px;
  padding-top: 55px; }
  .landing_profile .content .container .jspDrag {
    background: #b2975b; }
  .landing_profile .content .container .jspTrack {
    background: none; }
  .landing_profile .content .container .jspVerticalBar {
    background: url("../img/scroller-bg.png") repeat-y; }
  .landing_profile .content .container img {
    width: 421px;
    height: 290px;
    float: left; }
  .landing_profile .content .container .txt {
    width: 560px;
    height: 290px;
    float: left;
    padding-left: 10px; }
    .landing_profile .content .container .txt p {
      margin: 0 0 30px 0;
      font-size: 12px;
      line-height: 1.7em; }
  .landing_profile .content .container .quanshi, .landing_profile .content .container .dinwei {
    display: none; }

#jiameng {
  position: relative;
  overflow: hidden; }
  #jiameng .bg1 {
    position: absolute; }
  #jiameng .bg2 {
    position: absolute;
    bottom: -230px;
    right: -150px; }
  #jiameng .content {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding-top: 100px; }
    #jiameng .content .left {
      width: 320px;
      float: left;
      height: 100%;
      padding-left: 70px; }
      #jiameng .content .left .jiameng-phone {
        margin-top: 15px; }
    #jiameng .content .right {
      width: 610px;
      float: left;
      height: 100%;
      position: relative; }
      #jiameng .content .right .section-selector {
        width: 600px;
        border: 1px solid #b2975b;
        background: url(../img/transparent.png);
        position: absolute; }
        #jiameng .content .right .section-selector .bar {
          width: 10px;
          height: 100%;
          background: url(../img/selector-cycle.png) no-repeat 40% 50% #b2975b;
          float: left; }
      #jiameng .content .right .section {
        width: 450px;
        margin-left: 80px; }
        #jiameng .content .right .section h3 {
          font-size: 16px;
          color: #b2975b;
          margin: 13px 0; }
        #jiameng .content .right .section ul li {
          font-size: 12px;
          color: #999;
          line-height: 1.8em; }
          #jiameng .content .right .section ul li .color {
            color: #b2975b; }

#brand-news {
  overflow: hidden; }
  #brand-news .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    #brand-news .content .header {
      height: 137px;
      margin-top: 120px; }
      #brand-news .content .header .brand {
        float: left; }
      #brand-news .content .header .scroll-nav {
        float: left;
        width: 759px;
        height: 100%;
        overflow: hidden;
        position: relative; }
        #brand-news .content .header .scroll-nav .scroll-inner {
          position: absolute;
          height: 100%;
          width: 10000px; }
          #brand-news .content .header .scroll-nav .scroll-inner .item {
            text-align: none;
            display: inline-block;
            border-left: 1px solid #b2975b;
            border-top: 1px solid #b2975b;
            border-bottom: 1px solid #b2975b;
            width: 252px;
            height: 135px;
            color: #999; }
            #brand-news .content .header .scroll-nav .scroll-inner .item.active {
              color: #b2975b; }
            #brand-news .content .header .scroll-nav .scroll-inner .item .icon {
              float: left;
              margin-left: 50px;
              margin-top: 30px; }
            #brand-news .content .header .scroll-nav .scroll-inner .item ul {
              float: left;
              margin-left: 10px;
              margin-top: 26px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .date {
                font-family: didot;
                font-size: 26px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .split {
                height: 3px;
                line-height: 3px;
                background: url(../img/news-split.png) no-repeat; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .zh {
                font-size: 16px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .en {
                font-family: didot;
                font-size: 10px; }
            #brand-news .content .header .scroll-nav .scroll-inner .item:hover {
              color: #b2975b; }
      #brand-news .content .header .scroll-toggle {
        float: left;
        width: 17px; }
        #brand-news .content .header .scroll-toggle .pre {
          display: block;
          height: 68px;
          background: url("../img/news-scroll-nav_pre.png") no-repeat 50% 50% #d1c19d;
          cursor: pointer; }
          #brand-news .content .header .scroll-toggle .pre.active {
            background: url("../img/news-scroll-nav_pre.png") no-repeat 50% 50% #b2975b; }
        #brand-news .content .header .scroll-toggle .next {
          display: block;
          height: 69px;
          background: url("../img/news-scroll-nav_next.png") no-repeat 50% 50% #d1c19d;
          cursor: pointer; }
          #brand-news .content .header .scroll-toggle .next.active {
            background: url("../img/news-scroll-nav_next.png") no-repeat 50% 50% #b2975b; }
    #brand-news .content .news-container {
      margin-top: 60px; }
      #brand-news .content .news-container .news {
        display: none; }
        #brand-news .content .news-container .news.active {
          display: block; }
        #brand-news .content .news-container .news .news-image {
          width: 482px;
          height: 400px;
          float: left; }
        #brand-news .content .news-container .news .jspDrag {
          background: #b2975b; }
        #brand-news .content .news-container .news .jspTrack {
          background: none; }
        #brand-news .content .news-container .news .jspVerticalBar {
          background: url("../img/scroller-bg.png") repeat-y; }
        #brand-news .content .news-container .news .article {
          float: left;
          width: 450px;
          height: 240px;
          color: #b2975b;
          margin-left: 55px;
          margin-top: 100px; }
          #brand-news .content .news-container .news .article .title .date {
            font-size: 35px;
            float: left;
            font-family: didot;
            margin-right: 10px; }
          #brand-news .content .news-container .news .article .title .sub .zh {
            font-size: 16px;
            padding-top: 6px; }
          #brand-news .content .news-container .news .article .title .sub .en {
            font-size: 10px;
            margin-top: -4px; }
          #brand-news .content .news-container .news .article .article-content p {
            font-size: 12px; }

#store-show .header {
  height: 156px;
  width: 100%; }
  #store-show .header .container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #store-show .header .container select {
      font-size: 12px; }
    #store-show .header .container .sbToggle {
      background: url(../img/select-icons.png) 0 -116px no-repeat #b2975b; }
    #store-show .header .container .sbToggleOpen {
      background: url(../img/select-icons.png) 0 -16px no-repeat #b2975b; }
    #store-show .header .container .sbHolder {
      border: 1px solid #ccc;
      display: inline-block;
      position: absolute;
      top: 56px;
      left: 444px; }
    #store-show .header .container #address {
      color: #ccc;
      font-size: 12px;
      position: absolute;
      top: 66px;
      right: 0px; }
