@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf); }

@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf); }

@font-face {
  font-family: didot-htf-m96-medium-ital;
  src: url(../fonts/didot-htf-m96-medium-ital.ttf); }

.row {
  width: 100%; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.page-section {
  height: 823px; }
  .page-section .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }

.img-bg {
  display: none; }

.top-nav {
  height: 77px;
  position: fixed;
  background: #b2975b;
  width: 100%;
  top: 0px;
  display: none;
  z-index: 99999; }
  .top-nav .brand {
    margin-left: 50px;
    float: left; }
  .top-nav .top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .top-nav .top-menu li {
      list-style: none;
      display: inline-block;
      line-height: 77px;
      margin-left: 50px; }
      .top-nav .top-menu li a {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
        .top-nav .top-menu li a:hover {
          text-decoration: underline; }
  .top-nav .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    .top-nav .icons li {
      list-style: none;
      display: inline-block;
      line-height: 77px; }
      .top-nav .icons li a {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 6px; }
      .top-nav .icons li .top-menu-toggle {
        display: none; }
      .top-nav .icons li .qq {
        background: url(../img/top_nav/qq1.png); }
        .top-nav .icons li .qq:hover {
          background: url(../img/top_nav/qq.png); }
      .top-nav .icons li .xinlang {
        background: url(../img/top_nav/xinlang1.png); }
        .top-nav .icons li .xinlang:hover {
          background: url(../img/top_nav/xinlang.png); }
      .top-nav .icons li .weixin {
        background: url(../img/top_nav/weixin1.png); }
        .top-nav .icons li .weixin:hover {
          background: url(../img/top_nav/weixin.png); }
  .top-nav .search {
    float: right;
    display: inline-block;
    height: 77px;
    margin-left: 24px;
    margin-right: 60px; }
    .top-nav .search .search-box {
      margin-right: 10px;
      width: 0px;
      border: 0px; }
    .top-nav .search .search-icon {
      display: inline-block;
      margin-top: 19px;
      width: 25px;
      height: 23px;
      line-height: 23px;
      background: url(../img/top_nav/search_icon.png); }

@media screen and (max-width: 1460px) {
  .top-nav .top-menu {
    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;
    background: #b2975b;
    display: none; }
    .top-nav .top-menu li {
      display: block;
      margin-left: 0px;
      padding-left: 82px;
      line-height: 2em; }
  .top-nav .icons li .top-menu-toggle {
    display: inline-block;
    background: url(../img/top_nav/arrow.png) no-repeat 0 8px; } }
.landing-section {
  position: relative;
  text-align: center; }
  .landing-section .scroll-down {
    position: absolute;
    bottom: 1000px;
    cursor: pointer; }
  .landing-section .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 180px; }
    .landing-section .content .logo {
      display: block;
      margin: 0 auto; }
    .landing-section .content .h1 {
      color: #fff;
      font-size: 26px;
      margin-top: 18px;
      font-family: didot-bold; }
    .landing-section .content .h2 {
      color: #fff;
      font-size: 10px;
      font-family: didot-bold; }
    .landing-section .content .social-icons {
      margin-top: 50px; }
      .landing-section .content .social-icons .qq, .landing-section .content .social-icons .weixin, .landing-section .content .social-icons .xinlang {
        width: 25px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        margin: 0 3px; }
      .landing-section .content .social-icons .qq {
        background: url(../img/top_nav/qq1.png); }
        .landing-section .content .social-icons .qq:hover {
          background: url(../img/top_nav/qq.png); }
      .landing-section .content .social-icons .xinlang {
        background: url(../img/top_nav/xinlang1.png); }
        .landing-section .content .social-icons .xinlang:hover {
          background: url(../img/top_nav/xinlang.png); }
      .landing-section .content .social-icons .weixin {
        background: url(../img/top_nav/weixin1.png); }
        .landing-section .content .social-icons .weixin:hover {
          background: url(../img/top_nav/weixin.png); }

.landing_profile .content .header {
  padding-top: 160px; }
  .landing_profile .content .header ul {
    border-top: 1px solid #b2975b; }
    .landing_profile .content .header ul li {
      display: table-cell;
      vertical-align: middle;
      height: 156px; }
    .landing_profile .content .header ul .col2 .wrapper {
      padding-left: 10px;
      width: 324px;
      border-right: 1px solid #b2975b; }
      .landing_profile .content .header ul .col2 .wrapper .h1 {
        font-size: 12px; }
      .landing_profile .content .header ul .col2 .wrapper .h2 {
        font-size: 10px; }
      .landing_profile .content .header ul .col2 .wrapper img {
        margin-top: 20px; }
    .landing_profile .content .header ul .col3 {
      padding-left: 40px; }
      .landing_profile .content .header ul .col3 .nav {
        display: inline-block;
        height: 156px;
        color: #666;
        float: left;
        margin-left: 55px; }
        .landing_profile .content .header ul .col3 .nav span {
          display: inline-block;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 12px;
          cursor: pointer; }
        .landing_profile .content .header ul .col3 .nav .txt {
          padding-top: 70px; }
      .landing_profile .content .header ul .col3 .nav.active {
        background: #b2975b;
        color: #fff; }
    .landing_profile .content .header ul .brand {
      border-right: 1px solid #b2975b;
      padding-right: 12px; }
.landing_profile .content .container {
  height: 290px;
  padding-top: 55px; }
  .landing_profile .content .container .jspDrag {
    background: #b2975b; }
  .landing_profile .content .container .jspTrack {
    background: none; }
  .landing_profile .content .container .jspVerticalBar {
    background: url("../img/scroller-bg.png") repeat-y; }
  .landing_profile .content .container img {
    width: 421px;
    height: 290px;
    float: left; }
  .landing_profile .content .container .txt {
    width: 560px;
    height: 290px;
    float: left;
    padding-left: 10px; }
    .landing_profile .content .container .txt p {
      margin: 0 0 30px 0;
      font-size: 12px;
      line-height: 1.7em; }
  .landing_profile .content .container .quanshi, .landing_profile .content .container .dinwei {
    display: none; }

#jiameng {
  position: relative;
  overflow: hidden; }
  #jiameng .bg1 {
    position: absolute; }
  #jiameng .bg2 {
    position: absolute;
    bottom: -230px;
    right: -150px; }
  #jiameng .content {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding-top: 100px; }
    #jiameng .content .left {
      width: 320px;
      float: left;
      height: 100%;
      padding-left: 70px; }
      #jiameng .content .left .jiameng-phone {
        margin-top: 15px; }
    #jiameng .content .right {
      width: 610px;
      float: left;
      height: 100%;
      position: relative; }
      #jiameng .content .right .section-selector {
        width: 600px;
        border: 1px solid #b2975b;
        background: url(../img/transparent.png);
        position: absolute; }
        #jiameng .content .right .section-selector .bar {
          width: 10px;
          height: 100%;
          background: url(../img/selector-cycle.png) no-repeat 40% 50% #b2975b;
          float: left; }
      #jiameng .content .right .section {
        width: 450px;
        margin-left: 80px; }
        #jiameng .content .right .section h3 {
          font-size: 16px;
          color: #b2975b;
          margin: 13px 0; }
        #jiameng .content .right .section ul li {
          font-size: 12px;
          color: #999;
          line-height: 1.8em; }
          #jiameng .content .right .section ul li .color {
            color: #b2975b; }

#brand-news {
  overflow: hidden; }
  #brand-news .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    #brand-news .content .header {
      height: 137px;
      margin-top: 120px; }
      #brand-news .content .header .brand {
        float: left; }
      #brand-news .content .header .scroll-nav {
        float: left;
        width: 759px;
        height: 100%;
        overflow: hidden;
        position: relative; }
        #brand-news .content .header .scroll-nav .scroll-inner {
          position: absolute;
          height: 100%;
          width: 10000px; }
          #brand-news .content .header .scroll-nav .scroll-inner .item {
            text-align: none;
            display: inline-block;
            border-left: 1px solid #b2975b;
            border-top: 1px solid #b2975b;
            border-bottom: 1px solid #b2975b;
            width: 252px;
            height: 135px;
            color: #999; }
            #brand-news .content .header .scroll-nav .scroll-inner .item.active {
              color: #b2975b; }
            #brand-news .content .header .scroll-nav .scroll-inner .item .icon {
              float: left;
              margin-left: 50px;
              margin-top: 30px; }
            #brand-news .content .header .scroll-nav .scroll-inner .item ul {
              float: left;
              margin-left: 10px;
              margin-top: 26px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .date {
                font-family: didot;
                font-size: 26px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .split {
                height: 3px;
                line-height: 3px;
                background: url(../img/news-split.png) no-repeat; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .zh {
                font-size: 16px; }
              #brand-news .content .header .scroll-nav .scroll-inner .item ul .en {
                font-family: didot;
                font-size: 10px; }
            #brand-news .content .header .scroll-nav .scroll-inner .item:hover {
              color: #b2975b; }
      #brand-news .content .header .scroll-toggle {
        float: left;
        width: 17px; }
        #brand-news .content .header .scroll-toggle .pre {
          display: block;
          height: 68px;
          background: url("../img/news-scroll-nav_pre.png") no-repeat 50% 50% #d1c19d;
          cursor: pointer; }
          #brand-news .content .header .scroll-toggle .pre.active {
            background: url("../img/news-scroll-nav_pre.png") no-repeat 50% 50% #b2975b; }
        #brand-news .content .header .scroll-toggle .next {
          display: block;
          height: 69px;
          background: url("../img/news-scroll-nav_next.png") no-repeat 50% 50% #d1c19d;
          cursor: pointer; }
          #brand-news .content .header .scroll-toggle .next.active {
            background: url("../img/news-scroll-nav_next.png") no-repeat 50% 50% #b2975b; }
    #brand-news .content .news-container {
      margin-top: 60px; }
      #brand-news .content .news-container .news {
        display: none; }
        #brand-news .content .news-container .news.active {
          display: block; }
        #brand-news .content .news-container .news .news-image {
          width: 482px;
          height: 400px;
          float: left; }
        #brand-news .content .news-container .news .jspDrag {
          background: #b2975b; }
        #brand-news .content .news-container .news .jspTrack {
          background: none; }
        #brand-news .content .news-container .news .jspVerticalBar {
          background: url("../img/scroller-bg.png") repeat-y; }
        #brand-news .content .news-container .news .article {
          float: left;
          width: 450px;
          height: 240px;
          color: #b2975b;
          margin-left: 55px;
          margin-top: 100px; }
          #brand-news .content .news-container .news .article .title .date {
            font-size: 35px;
            float: left;
            font-family: didot;
            margin-right: 10px; }
          #brand-news .content .news-container .news .article .title .sub .zh {
            font-size: 16px;
            padding-top: 6px; }
          #brand-news .content .news-container .news .article .title .sub .en {
            font-size: 10px;
            margin-top: -4px; }
          #brand-news .content .news-container .news .article .article-content p {
            font-size: 12px; }

#store-show .header {
  height: 156px;
  width: 100%; }
  #store-show .header .container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #store-show .header .container select {
      font-size: 12px; }
    #store-show .header .container .sbToggle {
      background: url(../img/select-icons.png) 0 -116px no-repeat #b2975b; }
    #store-show .header .container .sbToggleOpen {
      background: url(../img/select-icons.png) 0 -16px no-repeat #b2975b; }
    #store-show .header .container .sbHolder {
      border: 1px solid #ccc;
      display: inline-block;
      position: absolute;
      top: 56px;
      left: 444px; }
    #store-show .header .container #address {
      color: #ccc;
      font-size: 12px;
      position: absolute;
      top: 66px;
      right: 0px; }
#store-show .img-gallery {
  width: 100%;
  height: 665px;
  overflow: hidden;
  position: relative; }
  #store-show .img-gallery .mask-left, #store-show .img-gallery .mask-right {
    position: absolute;
    height: 665px;
    background: rgba(178, 151, 91, 0.8);
    z-index: 99; }
  #store-show .img-gallery .pre-img {
    width: 50px;
    position: absolute;
    height: 100%;
    z-index: 100;
    cursor: pointer; }
    #store-show .img-gallery .pre-img:hover {
      background: url("../img/nav-l.png") no-repeat 50% 50%; }
  #store-show .img-gallery .next-img {
    width: 60px;
    right: 0px;
    position: absolute;
    height: 100%;
    z-index: 100;
    cursor: pointer; }
    #store-show .img-gallery .next-img:hover {
      background: url("../img/nav-r.png") no-repeat 50% 50%; }
  #store-show .img-gallery .store-show {
    position: absolute;
    width: 10000px;
    display: none;
    opacity: 0; }

#fashion-show {
  overflow: hidden; }
  #fashion-show .container {
    width: 1000px;
    position: relative;
    margin: 0 auto; }
    #fashion-show .container select {
      font-size: 12px; }
    #fashion-show .container .sbToggle {
      background: url(../img/select-icons.png) 0 -116px no-repeat #b2975b; }
    #fashion-show .container .sbToggleOpen {
      background: url(../img/select-icons.png) 0 -16px no-repeat #b2975b; }
    #fashion-show .container .sbOptions {
      z-index: 400; }
    #fashion-show .container .sbHolder {
      border: 1px solid #ccc;
      display: inline-block;
      position: absolute;
      top: 7px;
      left: 444px; }
    #fashion-show .container .header {
      margin-top: 40px; }
  #fashion-show .container-fill {
    width: 100%;
    margin-top: 50px;
    position: relative; }
    #fashion-show .container-fill #dapian {
      width: 100%;
      display: none; }
    #fashion-show .container-fill #collocation {
      width: 100%;
      text-align: center;
      font-size: 0px; }
      #fashion-show .container-fill #collocation li {
        display: inline-block;
        position: relative;
        width: 326px;
        height: 519px; }
        #fashion-show .container-fill #collocation li.mr {
          margin-right: 10px; }
        #fashion-show .container-fill #collocation li .mask {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 326px;
          height: 519px;
          background: #b2975b;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          z-index: 1;
          cursor: pointer; }
        #fashion-show .container-fill #collocation li .txt-block {
          width: 200px;
          height: 110px;
          border: 1px solid #fff;
          background: url(../img/transparent.png);
          position: absolute;
          left: 50px;
          top: 205px;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
          #fashion-show .container-fill #collocation li .txt-block .color-bg {
            margin: 8px 12px;
            background: url(../img/txt-block-bg.png);
            height: 75px;
            color: #fff;
            padding-top: 20px; }
            #fashion-show .container-fill #collocation li .txt-block .color-bg .yahei {
              font-family: "Microsoft YaHei";
              font-size: 16px;
              padding-right: 10px; }
            #fashion-show .container-fill #collocation li .txt-block .color-bg .didot-ital {
              font-family: didot-htf-m96-medium-ital;
              font-size: 32px; }
    #fashion-show .container-fill .dp-gallery {
      width: 100%;
      height: 665px;
      overflow: hidden;
      position: relative; }
      #fashion-show .container-fill .dp-gallery .mask-left, #fashion-show .container-fill .dp-gallery .mask-right {
        position: absolute;
        height: 665px;
        background: rgba(178, 151, 91, 0.8);
        z-index: 99; }
      #fashion-show .container-fill .dp-gallery .pre-img {
        width: 50px;
        position: absolute;
        height: 100%;
        z-index: 100;
        cursor: pointer; }
        #fashion-show .container-fill .dp-gallery .pre-img:hover {
          background: url("../img/nav-l.png") no-repeat 50% 50%; }
      #fashion-show .container-fill .dp-gallery .next-img {
        width: 60px;
        right: 0px;
        position: absolute;
        height: 100%;
        z-index: 100;
        cursor: pointer; }
        #fashion-show .container-fill .dp-gallery .next-img:hover {
          background: url("../img/nav-r.png") no-repeat 50% 50%; }
      #fashion-show .container-fill .dp-gallery .dp-show {
        position: absolute;
        width: 10000px;
        display: none; }
    #fashion-show .container-fill .xilie {
      font-size: 0px;
      position: absolute;
      top: 1000px;
      left: 0;
      z-index: 200;
      background: #fff;
      text-align: center; }
      #fashion-show .container-fill .xilie .close {
        position: absolute;
        z-index: 203;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 36px;
        text-decoration: none; }
      #fashion-show .container-fill .xilie ul {
        font-size: 0px;
        text-align: center; }
        #fashion-show .container-fill .xilie ul li {
          display: inline-block;
          position: relative; }
          #fashion-show .container-fill .xilie ul li img {
            margin-bottom: 1px; }
          #fashion-show .container-fill .xilie ul li .mask {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background: #b2975b;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            z-index: 202;
            cursor: pointer; }
          #fashion-show .container-fill .xilie ul li .camera {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -35px;
            z-index: 201;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    #fashion-show .container-fill .big-show-outer {
      position: absolute;
      top: 1000px;
      left: 0px;
      width: 100%;
      z-index: 300;
      background: #d9bea1; }
      #fashion-show .container-fill .big-show-outer .close-big-show {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 303; }
      #fashion-show .container-fill .big-show-outer .big-show-wrapper {
        width: 1000px;
        height: 701px;
        margin: 0 auto;
        position: relative;
        overflow: hidden; }
        #fashion-show .container-fill .big-show-outer .big-show-wrapper img {
          display: none;
          position: absolute;
          left: 0px;
          top: 0px; }

#contact-us .container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative; }
  #contact-us .container img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -158px;
    margin-top: -253px; }
