#contact-us{
  .container{
    width:1000px;
    height:100%;
    margin:0 auto;
    position:relative;
    img{
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-158px;
      margin-top:-253px;
    }
  }// END .contaner
}
