#main{
  position:relative;
  #slider{
    height:100%;
  }
  .txt-wrapper{
    font-family:dodit;
    color:#fff;
    width:551px;
    text-align:center;
    right:130px;
    top:50%;
    margin-top:-110px;
    position:absolute;
    z-index:100;
  }// END .txt-wrapper
}// END #main
