#main{
  position:relative;
  .txt-wrapper{
    font-family:dodit;
    color:#fff;
    width:551px;
    text-align:center;
    right:130px;
    top:50%;
    margin-top:-110px;
    position:absolute;
    .h1{
      font-size:60px;
      letter-spacing:24px;
      padding-left:16px;
    }
    .h12{
      font-size:25px;
      letter-spacing:50px;
      padding-left:40px;
      margin-top:-24px;
    }
    .split{
      width:551px;
      height:21px;
      background:url(../img/home-split.png) no-repeat 50% 50%;
    }
    .h2{
      font-size:26px;
      letter-spacing:6px;
      padding-left:6px;
    }
    .h22{
      font-size:10px;
      letter-spacing:6px;
      padding-left:6px;
    }
  }// END .txt-wrapper
}// END #main
