#store-show{
  .header{
    height:156px;
    width:100%;
    .container{
      width:1000px;
      height:100%;
      margin:0 auto;
      position:relative;
      select{
        font-size:12px;
      }
      .sbToggle {
        background:url(../img/select-icons.png) 0 -116px no-repeat #b2975b;
      }
      .sbToggleOpen {
        background: url(../img/select-icons.png) 0 -16px no-repeat #b2975b;
      }
      .sbHolder{
        border:1px solid #ccc;
        display:inline-block;
        position:absolute;
        top:56px;
        left:444px;
      }
      #address{
        color:#ccc;
        font-size:12px;
        position:absolute;
        top:66px;
        right:0px;

      }
    }// END .container
  }// END .header
  .img-gallery{
    width:100%;
    height:665px;
    overflow:hidden;
    position:relative;
    .mask-left,.mask-right{
      position:absolute;
      height:665px;
      background:rgba(178,151,91,0.8);
      z-index:99;
    }
    .pre-img{
      width:50px;
      position:absolute;
      height:100%;
      z-index:100;
      cursor:pointer;
      &:hover{
        background:url('../img/nav-l.png') no-repeat 50% 50%;
      }
    }// END .pre-img
    .next-img{
      width:60px;
      right:0px;
      position:absolute;
      height:100%;
      z-index:100;
      cursor:pointer;
      &:hover{
        background:url('../img/nav-r.png') no-repeat 50% 50%;
      }
    }// END .pre-img
    .store-show{
      position:absolute;
      width:10000px;
      display:none;
      opacity:0;
    }// END .store-show
  }// END .img-gallery
}// NED #store-show
