@media screen and (max-width: 1460px){
  .top-nav{
    .top-menu-toggle{
      display:inline-block;
      position:absolute;
      left:50%;
      background:url(../img/top_nav/arrow.png) no-repeat 0 8px;
      height:25px;
      width:27px;
      margin-top:27px;
      margin-left:26px;
    }// END .top-menu-toggle
    .top-menu{
      position:fixed;
      top:56px;
      left:0px;
      width:100%;
      background:#b2975b;
      display:none;
      li{
        display:block;
        margin-left:0px;
        padding-left:82px;
        line-height:2em;
        text-align:center;
      }
    }// END .top_menu
  }// END .top_nav
}
