@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf);
}

.row{
  width:100%;
}
.page-section{
  height:823px;
  .content{
    width:1000px;
    height: 100%;
    margin:0 auto;
  }
}
.img-bg{
  display:none;
}

@import "_top_nav";
@import "_landing";
