.row.page-section#brand-news
  .content
    .header
      img(src="img/brand-news.png" class="brand")
      .scroll-nav
        .scroll-inner#news-scroll-inner
          a.item.active(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-2")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-3")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-4")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-2")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-3")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-4")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-2")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-3")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
      .scroll-toggle
        a.pre
        a.next
    .news-container
      .news.active#news-1
        img(src="img/news-img.png" class="news-image")
        .article.jScrollPane
          .title
            .date 2014/03/25
            .sub
              .zh 春装系列新品上市
              .en New listing spring series
          .article-content
            p 1 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。

      .news#news-2
        img(src="img/news-img.png" class="news-image")
        .article.jScrollPane
          .title
            .date 2014/03/25
            .sub
              .zh 春装系列新品上市
              .en New listing spring series
          .article-content
            p 2 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。

      .news#news-3
        img(src="img/news-img.png" class="news-image")
        .article.jScrollPane
          .title
            .date 2014/03/25
            .sub
              .zh 春装系列新品上市
              .en New listing spring series
          .article-content
            p 3 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。

      .news#news-4
        img(src="img/news-img.png" class="news-image")
        .article.jScrollPane
          .title
            .date 2014/03/25
            .sub
              .zh 春装系列新品上市
              .en New listing spring series
          .article-content
            p 1 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
            p 濠歌服饰有限公司的专业品牌――“红迪丝”，是适合35-50岁女性的中高档品牌。该品面料以真丝、纯棉为主，既满足了女性对美的审美需求，又健康舒适、大方自然。绿色、环保、益于人体的天然真丝，以其细腻、柔滑的触感令人倍感舒适、清新。真丝的轻柔婉转与女性成熟、优雅的阴柔之美相得益彰。服装的设计结合了时装的时尚与休闲装的随意两个特点，高档次、高品味的设计理念将中国千年来象征富贵、繁盛的丝绸赋予了时代化的特点和现代潮流气息。
