.row.img-liquid-fill.page-section.landing_profile
  img(src="img/img-1.jpg" class="img-bg")
  .content
    .header
      ul
        li(class="col1")
          img(src="img/img-2.png" class="brand")
        li(class="col2")
          .wrapper
            .h1 杭州濠歌服饰有限公司
            .h2 HANGZHOU HAOGE FASHION CO,LTD
            img(src="img/img-3.png")
        li(class="col3")
          a.nav.active.profile
            span.txt 公司介绍
            br
            span Profile
          a.nav.quanshi
            span.txt 品牌诠释
          a.nav.dinwei
            span.txt 品牌定位
            


