.row.img-liquid-fill.page-section.landing_profile#landing_profile
  img(src="img/img-1.jpg" class="img-bg")
  .content
    .header
      ul
        li(class="col1")
          img(src="img/img-2.png" class="brand")
        li(class="col2")
          .wrapper
            .h1 杭州濠歌服饰有限公司
            .h2 HANGZHOU HAOGE FASHION CO,LTD
            img(src="img/img-3.png")
        li(class="col3")
          a.nav.active("data-ref"="profile")
            span.txt 公司介绍
            br
            span Profile
          a.nav("data-ref"="quanshi")
            span.txt 品牌诠释
          a.nav("data-ref"="dinwei")
            span.txt 品牌定位
    .container
      .profile
        img(src="img/img-3.jpg")
        .txt.jScrollPane
          p Profile 杭州濠歌服饰有限公司本着“勇于创新、追求完美、客户第一、服务第一”的原则，多年来一直致力于打造完美女人，追求品质生活，立足品质，创造品牌。公司秉承积极向上、踏实稳健服务社会的理念和励精图治、奋勇拼搏的专业精神，在竞争激烈的市场考虑下不断发展壮大，现已成为一家集设计、生产、销售为一体的现代化服装企业。
          p 在企业稳步成长的道路上，濠歌人发扬“与客户的距离无限小，企业发展的空间就无限大”的精神，谨记“为客户创造利润，为员工增加福利，为社会创造财富，促进社会和谐进步”的企业使命，坚守执着，向打造中国领军女装品牌的目标不断努力。濠歌人一直致力于聆听女性心声，演绎女性梦想。公司奉行：专注，诚信，创新的经验理念发扬源远的民族文化，满足时代女性需求为设计灵魂，精心打造国人真正的时尚女装品牌。
          p 公司现有研发中心、商品中心、销售中心、产品管理中心、生产中心等十余个部门中心，员工千余名。管理体系完整，部门分工明确，运转灵活舒畅。公司有独立的现代化生产基地，一流的先进设备，完善的管理体制，高效的IT信息化办公系统，优秀的技术人才，辅以完善严谨的品质保证体系，造就了濠歌的竞争力。
      .quanshi
        img(src="img/img-3.jpg")
        .txt.jScrollPane
          p Quanshi 杭州濠歌服饰有限公司本着“勇于创新、追求完美、客户第一、服务第一”的原则，多年来一直致力于打造完美女人，追求品质生活，立足品质，创造品牌。公司秉承积极向上、踏实稳健服务社会的理念和励精图治、奋勇拼搏的专业精神，在竞争激烈的市场考虑下不断发展壮大，现已成为一家集设计、生产、销售为一体的现代化服装企业。
          p 在企业稳步成长的道路上，濠歌人发扬“与客户的距离无限小，企业发展的空间就无限大”的精神，谨记“为客户创造利润，为员工增加福利，为社会创造财富，促进社会和谐进步”的企业使命，坚守执着，向打造中国领军女装品牌的目标不断努力。濠歌人一直致力于聆听女性心声，演绎女性梦想。公司奉行：专注，诚信，创新的经验理念发扬源远的民族文化，满足时代女性需求为设计灵魂，精心打造国人真正的时尚女装品牌。
          p 公司现有研发中心、商品中心、销售中心、产品管理中心、生产中心等十余个部门中心，员工千余名。管理体系完整，部门分工明确，运转灵活舒畅。公司有独立的现代化生产基地，一流的先进设备，完善的管理体制，高效的IT信息化办公系统，优秀的技术人才，辅以完善严谨的品质保证体系，造就了濠歌的竞争力。
      .dinwei
        img(src="img/img-3.jpg")
        .txt.jScrollPane
          p Dinwei 杭州濠歌服饰有限公司本着“勇于创新、追求完美、客户第一、服务第一”的原则，多年来一直致力于打造完美女人，追求品质生活，立足品质，创造品牌。公司秉承积极向上、踏实稳健服务社会的理念和励精图治、奋勇拼搏的专业精神，在竞争激烈的市场考虑下不断发展壮大，现已成为一家集设计、生产、销售为一体的现代化服装企业。
          p 在企业稳步成长的道路上，濠歌人发扬“与客户的距离无限小，企业发展的空间就无限大”的精神，谨记“为客户创造利润，为员工增加福利，为社会创造财富，促进社会和谐进步”的企业使命，坚守执着，向打造中国领军女装品牌的目标不断努力。濠歌人一直致力于聆听女性心声，演绎女性梦想。公司奉行：专注，诚信，创新的经验理念发扬源远的民族文化，满足时代女性需求为设计灵魂，精心打造国人真正的时尚女装品牌。
          p 公司现有研发中心、商品中心、销售中心、产品管理中心、生产中心等十余个部门中心，员工千余名。管理体系完整，部门分工明确，运转灵活舒畅。公司有独立的现代化生产基地，一流的先进设备，完善的管理体制，高效的IT信息化办公系统，优秀的技术人才，辅以完善严谨的品质保证体系，造就了濠歌的竞争力。    
            


