.row.page-section#brand-news
  .content
    .header
      img(src="img/brand-news.png" class="brand")
      .scroll-nav
        .scroll-inner#news-scroll-inner
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
          a.item(href="javascript:void(0)" "data-ref"="news-1")
            img(src="img/news.png" class="icon")
            ul
              li(class="date") 2014/03/25
              li(class="split")
              li(class="zh") 夏装系列新品上市
              li(class="en") New listing Summer series
      .scroll-toggle
        a.pre
        a.next

