.row.img-liquid-fill.page-section#fashion-show
  img(src="img/fs-bg.jpg")
  .container
    .header
      img(src="img/fs-brand.png")
      select#fs-selector
        option(value="dapian") 产品大片
        option(value="springcollocation") 春季搭配 Collocation
        option(value="summercollocation") 夏季搭配 Collocation
        option(value="auntoumcollocation") 秋季搭配 Collocation
        option(value="wintercollocation") 冬季搭配 Collocation
  .container-fill
    #dapian.lv1.active
      .dp-gallery
        .mask-left
        .mask-right
        .pre-img
        .next-img
        .dp-show#dp-show
          img(src="img/dp-1.jpg")
          img(src="img/dp-2.jpg")
          img(src="img/dp-3.jpg")
    ul#summercollocation.lv1.lv1-collocation
      li.mr.lv-xl("data-ref"="fs-2")
        img(src="img/fs-1.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 春季
            span.didot-ital Spring
      li.mr.lv-xl("data-ref"="fs-2")
        img(src="img/fs-2.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 夏季
            span.didot-ital Summer
      li.lv-xl("data-ref"="fs-2")
        img(src="img/fs-3.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 秋季
            span.didot-ital autumn
    ul#auntoumcollocation.lv1.lv1-collocation
      li.mr.lv-xl("data-ref"="fs-1")
        img(src="img/fs-3.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 春季
            span.didot-ital Spring
      li.mr.lv-xl("data-ref"="fs-1")
        img(src="img/fs-2.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 夏季
            span.didot-ital Summer
      li.lv-xl("data-ref"="fs-1")
        img(src="img/fs-1.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 秋季
            span.didot-ital autumn
    #wintercollocation.lv1.lv2-collocation
      .pre-img-lv2
      .next-img-lv2
      ul
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-2")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
    #springcollocation.lv1.lv2-collocation
      .pre-img-lv2
      .next-img-lv2
      ul
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
    .xilie#fs-1
      a.close(href="javascript:void(0)")
        img(src="img/big-white-close.png")
      .pre-img-xilie
      .next-img-xilie
      ul
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
    .xilie#fs-2
      a.close(href="javascript:void(0)")
        img(src="img/big-white-close.png")
      .pre-img-xilie
      .next-img-xilie
      ul
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl1.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl2.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl3.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl4.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl5.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
        li.lv-2("data-ref"="bs-1")
          img(src="img/xl6.png")
          .mask
          img.camera(src="img/show-img-caramar.png")
    .big-show-outer
      a.close-big-show(href="javascript:void(0)")
        img(src="img/big-white-close.png")
      .big-show-wrapper
        img.big-show#bs-1(src="img/bs-1.jpg")
        img.big-show#bs-2(src="img/bs-1.jpg")
        img.big-show#bs-3(src="img/bs-1.jpg")



