.row.img-liquid-fill.page-section#fashion-show
  img(src="img/fs-bg.jpg")
  .container
    .header
      img(src="img/fs-brand.png")
      select#fs-selector
        option(value="collocation") 搭配 Collocation
        option(value="collocation") 产品大片
        option(value="collocation") 搭配 Collocation
  .container-fill
    ul#lv1
      li.mr
        img(src="img/fs-1.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 春季
            span.didot-ital Spring
      li.mr
        img(src="img/fs-2.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 夏季
            span.didot-ital Summer
      li
        img(src="img/fs-3.jpg")
        a.mask
        .txt-block
          .color-bg
            span.yahei 秋季
            span.didot-ital autumn


