.row.page-section#jiameng
  img(src="img/jiameng-bg1.png" class="bg1")
  img(src="img/jiameng-bg2.png" class="bg2")
  .content
    .left
      img(src="img/brand-jiaming.png" class="jiameng-brand")
      img(src="img/phone-jiaming.png" class="jiameng-phone")
    .right
      .section-selector#jiameng-section-selector
        .bar
      .section
        h3 加盟条件
        ul
          li 必须具有成功的必胜理念和强烈的事业心
          li 必须具有强烈的品牌意识和长远的发展目光
          li 必须具有充足的资金实力和良好的商业信誉
          li 必须具有品牌专卖经验和良好的品牌意识
          li 必须在当地繁华商业地段拥有店铺或商场专柜，按照公司的统一要求进行装修
          li 必须具有良好的配合意识和全局观念，充分贯彻公司总部的政策
      .section
        h3 加盟政策
        ul
          li 品牌保证金<span class="color">2万元</span>
          li 卖场使用面积<span class="color">不低于40M2</span>，统一形象装修（商场专柜<span class="color">不低于40平方米</span>，街边专卖店<span class="color">不低于50平方米</span>）
          li 提供专业的督导服务与培训
          li 首批上货金额<span class="color">不少于八万元</span>
      .section
        h3 资源优势
        ul
          li 我们拥有：庞大的单件流水线设备，丰富的品质控制经验
          li 汇集实力强劲的开发设计队伍及营销策划精英
          li 完善的产品配送中心和周密的商业信息反馈动作体系
          li 充实的货源和资金实力
          li 我们的支持：免费的开业策划、经营指导及定期的人员培训
          li 免费装修设计方案
          li 免费提供主体装修道具
      .section
        h3 我们提供
        ul
          li 科学的服务管理
          li 卓越的产品品质
          li 统一的价格销售体系、终端形象和运营模式
          li 完善的营销策划管理模式
          li 快速的货源配送服务指导

