.row.landing-section.img-liquid-fill-top#landing_page
  img(src="img/img-2.jpg" class="img-bg")
  .content
    img(src="img/img-1.png" class="logo")
    .social-icons
      a(href="#" class="")
      a(href="#" class="qq")
      a(href="#" class="weixin")
      a(href="#" class="xinlang")
    .h1 H.D.S-HIGH DESIGN SILK
    .h2 FASHION, HIGH-END, CREATIVE INGENUITY, SILK

