.row.page-section#main
  #slider.nivoSlider
    img(src="img/main-bg.jpg")
    img(src="img/main-bg2.jpg")
    img(src="img/main-bg3.jpg")
  .txt-wrapper
    .h1 CLASSICAL
    .h12 ELEGANCE
    .split
    .h2 H.D.S-HIGH DESIGN SILK
    .h22 FASHION, HIGH-END, CREATIVE INGENUITY, SILK
