.row.img-liquid-fill.page-section#main
  img(src="img/main-bg.jpg")
  .txt-wrapper
    .h1 CLASSICAL
    .h12 ELEGANCE
    .split
    .h2 H.D.S-HIGH DESIGN SILK
    .h22 FASHION, HIGH-END, CREATIVE INGENUITY, SILK
