.main.page-section#store-show
  .header
    .container
      img(src="img/brand-store.png")
      select#store-selector
        option(value="address1" "data-address"="环城北路111号") 杭州市下城区1
        option(value="address2" "data-address"="环城北路112号") 杭州市下城区2
        option(value="address3" "data-address"="环城北路113号") 杭州市下城区3
        option(value="address4" "data-address"="环城北路114号") 杭州市下城区4
        option(value="address5" "data-address"="环城北路115号") 杭州市下城区5
      span#address >环城北路111号

