.top-nav
  img(src="img/brand.jpg" class="brand")
  ul(class="top-menu")
    li
      a(href="#landing_page") HOME
    li
      a(href="#landing_profile") BRAND PROFILE
    li
      a(href="#") FASHION SHOW
    li
      a(href="#brand-news") BRAND NEWS
    li
      a(href="#jiameng") AFFILIATE CENTER
    li
      a(href="#store-show") SHOWROOM
    li
      a(href="#") CONTACT US
  .search
    input.search-box#universal-search("data-show"=false)
    a(href="javascript:void(0)" class="search-icon")
  ul(class="icons")
    li
      a(href="#" class="qq")
    li
      a(href="#" class="weixin")
    li
      a(href="#" class="xinlang")

        
