.top-nav
  img(src="img/brand.jpg" class="brand")
  ul(class="top-menu")
    li
      a(href="#") HOME
    li
      a(href="#") BRAND PROFILE
    li
      a(href="#") FASHION SHOW
    li
      a(href="#") BRAND NEWS
    li
      a(href="#") AFFILIATE CENTER
    li
      a(href="#") SHOWROOM
    li
      a(href="#") CONTACT US
  .search
    input.search-box#universal-search("data-show"=false)
    a(href="#" class="search-icon")
  ul(class="icons")
    li
      a(href="#" class="qq")
    li
      a(href="#" class="weixin")
    li
      a(href="#" class="xinlang")
        