.top-nav
  img(src="img/brand.jpg" class="brand")
  a(href="javascript:void(0);" class="top-menu-toggle")
  ul(class="top-menu")
    li
      a(href="#main" "data-zh"="首页") HOME
    li
      a(href="#landing_profile" "data-zh"="品牌介绍") BRAND PROFILE
    li
      a(href="#fashion-show" "data-zh"="服装展示") FASHION SHOW
    li
      a(href="#brand-news" "data-zh"="品牌新闻") BRAND NEWS
    li
      a(href="#jiameng" "data-zh"="加盟中心") AFFILIATE CENTER
    li
      a(href="#store-show" "data-zh"="形象展厅") SHOWROOM
    li
      a(href="#contact-us" "data-zh"="联系我们") CONTACT US
  .search
    input.search-box#universal-search("data-show"=false)
    a(href="javascript:void(0)" class="search-icon")
  ul(class="icons")
    li
      a(href="#" class="qq")
    li
      a(href="#" class="weixin")
    li
      a(href="#" class="xinlang")

        
