doctype html
html
  include _header
  body
    include _landing
    include _top_nav
    include _brand_profile
    include _brand_news
    include _jiameng
    include _store_show
    include _foot

